:root {
    --primary-color: white;
    --secondary-color:#070e13;


    --bg-main: rgb(5, 14, 9);
    --bg-secondary: rgb(16, 32, 28);
    --card-bg: #23312a;
    --card-bg-hover: #0f1411;


    --funky-main: #d8b92d;

    --text-main-color: #fff;
    --text-secondary-color: #d3d3d3;

    --border-color-1: rgba(255, 255, 255, 0.247);

    --standard-color: green;
    --premium-color: rgb(187, 142, 58);
    --custom-color: rgb(123, 80, 175);
}

.textMainColor {
    color: var(--text-main-color);
}

.textMainColor.hover:hover {
    color: var(--text-secondary-color);
}

.cardColor {
    background-color: var(--card-bg);
    outline: 2px solid transparent;
    transition: 300ms ease;
}
.card:hover {
    background-color: var(--card-bg-hover);
    outline: 2px solid var(--border-color-1);
    transition: 600ms ease;
}