@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.icon {
    font-family: 'Material Icons';
    user-select: none;
}
.iconOutlined {
    font-family: 'Material Symbols Outlined';
    user-select: none;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}
.quickSand {
    font-family: 'Quicksand', sans-serif;
}
* {
    color: var(--text-main-color);
    font-family: 'Quicksand', sans-serif;
}

.headerMainTitle {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(50px, 15vw, 72px);
    line-height: clamp(50px, 15vw, 72px);
}
.headerText {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
}

.bodyTitleAndParagraph {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bodyH2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}
.bodyH3 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.bodyText {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}
.cardTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.cardText {
    font-size: 16px;
    line-height: 24px;
    color: rgb(204, 204, 204);
    font-weight: 400;
}
.footerText {
    font-size: clamp(10px, 3vw, 16px);
}