:root {
    --dark-blue: #01101c;
    --mainWidth: min(1400px, 100%);
}

body {
    background: radial-gradient(circle, rgb(10, 20, 20) 0%, rgba(7, 14, 19, 1) 100%);
}

a {
    cursor: pointer;
}
.mainWidth {
    width: var(--main-width);
    padding: 0 30px;
    margin: auto;
}
.smallWidth {
    width: calc(min(1400px, 100%) * 0.75);
}
.shortWidth {
    width: min(1000px, 100%);
}

.header {
    /* height: 60vh; */
    padding: 20vh 20px;
}

main {
    min-height: 100vh;
}