:root {
    --mainWidth: 1400px;
    --mainWidth-padding-1: 20px; 
}

@media (max-width: 999px) {
    :root {
        --mainWidth-padding-1: 15px;
    }
}
@media (min-width: 1000px) {
    :root {
        --mainWidth-padding-1: 30px;
    }
}

body {
    background: radial-gradient(circle, var(--bg-secondary) 0%, var(--bg-main) 100%);
    /* background: radial-gradient(circle, rgb(10, 20, 20) 0%, rgba(7, 14, 19, 1) 100%); */
    position: relative;
}
#__nuxt {
    position: relative;
}

a {
    cursor: pointer;
}
.mainWidth {
    width: min(1400px, 100%);
    padding-left: var(--mainWidth-padding-1);
    padding-right: var(--mainWidth-padding-1);
    margin: auto;
}
.smallWidth {
    width: min(calc(1400px * 0.6), 100%);
    margin: auto;
}
.shortWidth {
    width: min(1000px, 100%);
}

.header {
    padding: 15vh 20px;
    pointer-events: none;
}

main {
    min-height: 100vh;
}
.triangles {
    opacity: 0.03;
}