:root {
    --dark-blue: #01101c;
}

body {
    background: radial-gradient(circle, rgb(10, 20, 20) 0%, rgba(7, 14, 19, 1) 100%);
}

a {
    cursor: pointer;
}
.mainWidth {
    width: min(1500px, 100%);
    padding: 30px;
    margin: auto;
}
.shortWidth {
    width: min(1000px, 100%);
}

.header {
    /* height: 60vh; */
    padding: 20vh 20px;
}

main {
    min-height: 100vh;
}